.main {
  background-color: #f1f1f1;
  padding: 50px 0;
  h2 {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.card {
  background-color: #fff;
  border-radius: 20px;
  max-width: 80%;
  padding: 50px 100px;
}
.progressCircle {
  max-width: 150px;
}
.innerTopCard {
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: -3px 3px 20px 0px rgba(112, 112, 112, 0.1);
  &:first-of-type {
    margin-right: 50px;
  }
}
.interviewPanel {
  color: #fff;
  margin-right: 30px;
  text-align: center;
  padding-top: 30px;
  p {
    font-weight: 300;
  }
}
.card .topic {
  font-size: 14px;
  line-height: 1.5;
  padding-top: 10px;
}
